
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Forbidden</title>
    </head>
    <body>
        <div>
            <h2>This page is forbidden!</h2>  
        </div>
    </body>
</html>